In [163]:
import numpy as np
import sys
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [164]:
worldWeather = "/content/drive/MyDrive/datasets/ww-ii-data.csv"
df = pd.read_csv(worldWeather)
df

<ipython-input-164-1188acebd7af>:2: DtypeWarning: Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(worldWeather)

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,7/1/1942,1.016,NaN,25.555556,22.222222,23.888889,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,7/2/1942,0,NaN,28.888889,21.666667,25.555556,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,7/3/1942,2.54,NaN,26.111111,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,7/4/1942,2.54,NaN,26.666667,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,7/5/1942,0,NaN,26.666667,21.666667,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119035,82506,12/27/1945,0,NaN,28.333333,18.333333,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119036,82506,12/28/1945,9.906,NaN,29.444444,18.333333,23.888889,0.0,1.0,45,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
119037,82506,12/29/1945,0,NaN,28.333333,18.333333,23.333333,0.0,1.0,45,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
119038,82506,12/30/1945,0,NaN,28.333333,18.333333,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119039,82506,12/31/1945,0,NaN,29.444444,17.222222,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
df.describe()

,STA,WindGustSpd,MaxTemp,MinTemp,MeanTemp,YR,MO,DA,DR,SPD,...,FT,FB,FTI,ITH,PGT,SD3,RHX,RHN,RVG,WTE
count,119040.000000,532.000000,119040.000000,119040.000000,119040.000000,119040.000000,119040.000000,119040.000000,533.000000,532.000000,...,0.0,0.0,0.0,0.0,525.000000,0.0,0.0,0.0,0.0,0.0
mean,29659.435795,37.774534,27.045111,17.789511,22.411631,43.805284,6.726016,15.797530,26.998124,20.396617,...,NaN,NaN,NaN,NaN,12.085333,NaN,NaN,NaN,NaN,NaN
std,20953.209402,10.297808,8.717817,8.334572,8.297982,1.136718,3.425561,8.794541,15.221732,5.560371,...,NaN,NaN,NaN,NaN,5.731328,NaN,NaN,NaN,NaN,NaN
min,10001.000000,18.520000,-33.333333,-38.333333,-35.555556,40.000000,1.000000,1.000000,2.000000,10.000000,...,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,11801.000000,29.632000,25.555556,15.000000,20.555556,43.000000,4.000000,8.000000,11.000000,16.000000,...,NaN,NaN,NaN,NaN,8.500000,NaN,NaN,NaN,NaN,NaN
50%,22508.000000,37.040000,29.444444,21.111111,25.555556,44.000000,7.000000,16.000000,32.000000,20.000000,...,NaN,NaN,NaN,NaN,11.600000,NaN,NaN,NaN,NaN,NaN
75%,33501.000000,43.059000,31.666667,23.333333,27.222222,45.000000,10.000000,23.000000,34.000000,23.250000,...,NaN,NaN,NaN,NaN,15.000000,NaN,NaN,NaN,NaN,NaN
max,82506.000000,75.932000,50.000000,34.444444,40.000000,45.000000,12.000000,31.000000,78.000000,41.000000,...,NaN,NaN,NaN,NaN,23.900000,NaN,NaN,NaN,NaN,NaN

# **In each column, non-numeric data is replaced with nan**

In [166]:
df = df.apply(lambda x: pd.to_numeric(x, errors='coerce'))
df

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,NaN,1.016,NaN,25.555556,22.222222,23.888889,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,NaN,0.000,NaN,28.888889,21.666667,25.555556,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,NaN,2.540,NaN,26.111111,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,NaN,2.540,NaN,26.666667,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,NaN,0.000,NaN,26.666667,21.666667,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119035,82506,NaN,0.000,NaN,28.333333,18.333333,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119036,82506,NaN,9.906,NaN,29.444444,18.333333,23.888889,0.0,1.0,45,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
119037,82506,NaN,0.000,NaN,28.333333,18.333333,23.333333,0.0,1.0,45,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
119038,82506,NaN,0.000,NaN,28.333333,18.333333,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119039,82506,NaN,0.000,NaN,29.444444,17.222222,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Filling the place of nan values ​​with the average of that column**

In [167]:
df = df.fillna(df.mean())
df

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,NaN,1.016,37.774534,25.555556,22.222222,23.888889,0.0,4.027963e+06,42,...,NaN,NaN,NaN,12.085333,4.027963e+06,NaN,NaN,NaN,NaN,NaN
1,10001,NaN,0.000,37.774534,28.888889,21.666667,25.555556,0.0,4.027963e+06,42,...,NaN,NaN,NaN,12.085333,4.027963e+06,NaN,NaN,NaN,NaN,NaN
2,10001,NaN,2.540,37.774534,26.111111,22.222222,24.444444,0.0,4.027963e+06,42,...,NaN,NaN,NaN,12.085333,4.027963e+06,NaN,NaN,NaN,NaN,NaN
3,10001,NaN,2.540,37.774534,26.666667,22.222222,24.444444,0.0,4.027963e+06,42,...,NaN,NaN,NaN,12.085333,4.027963e+06,NaN,NaN,NaN,NaN,NaN
4,10001,NaN,0.000,37.774534,26.666667,21.666667,24.444444,0.0,4.027963e+06,42,...,NaN,NaN,NaN,12.085333,4.027963e+06,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119035,82506,NaN,0.000,37.774534,28.333333,18.333333,23.333333,0.0,4.027963e+06,45,...,NaN,NaN,NaN,12.085333,4.027963e+06,NaN,NaN,NaN,NaN,NaN
119036,82506,NaN,9.906,37.774534,29.444444,18.333333,23.888889,0.0,1.000000e+00,45,...,NaN,NaN,NaN,12.085333,1.000000e+00,NaN,NaN,NaN,NaN,NaN
119037,82506,NaN,0.000,37.774534,28.333333,18.333333,23.333333,0.0,1.000000e+00,45,...,NaN,NaN,NaN,12.085333,1.000000e+00,NaN,NaN,NaN,NaN,NaN
119038,82506,NaN,0.000,37.774534,28.333333,18.333333,23.333333,0.0,4.027963e+06,45,...,NaN,NaN,NaN,12.085333,4.027963e+06,NaN,NaN,NaN,NaN,NaN
119039,82506,NaN,0.000,37.774534,29.444444,17.222222,23.333333,0.0,4.027963e+06,45,...,NaN,NaN,NaN,12.085333,4.027963e+06,NaN,NaN,NaN,NaN,NaN

In [168]:
df.isnull().sum()

STA                 0
Date           119040
Precip              0
WindGustSpd         0
MaxTemp             0
MinTemp             0
MeanTemp            0
Snowfall            0
PoorWeather         0
YR                  0
MO                  0
DA                  0
PRCP                0
DR                  0
SPD                 0
MAX                 0
MIN                 0
MEA                 0
SNF                 0
SND                 0
FT             119040
FB             119040
FTI            119040
ITH            119040
PGT                 0
TSHDSBRSGF          0
SD3            119040
RHX            119040
RHN            119040
RVG            119040
WTE            119040
dtype: int64

# **Columns with nan are deleted**

In [169]:
df.dropna(axis = 1,inplace = True)

In [170]:
df.isnull().sum()

STA            0
Precip         0
WindGustSpd    0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall       0
PoorWeather    0
YR             0
MO             0
DA             0
PRCP           0
DR             0
SPD            0
MAX            0
MIN            0
MEA            0
SNF            0
SND            0
PGT            0
TSHDSBRSGF     0
dtype: int64

# **Separation of features and targets**

In [171]:
X_1 = df.iloc[:,:3]
X_2 = df.iloc[:,4:]
X_concat = pd.concat([X_1,X_2],axis=1)
y = df.iloc[:,3]

# **80% of datas for train and 20% for test**

In [172]:
X_train , X_test , y_train , y_test = train_test_split(X_concat,y,test_size= 0.2,random_state=4231)

# **import algorithm**

In [173]:
LR = LinearRegression()
LR = LR.fit(X_train,y_train)

In [174]:
y_predict = LR.predict(X_test)

# **measuring MAE**

In [175]:
print(mean_absolute_error(y_test,y_predict))

0.049427797167921485

# **measuring r2 score**

In [176]:
print(r2_score(y_test,y_predict))

0.9934049568956607